## Standard imports :

In [1]:
import pandas as pd
import numpy as np
import os

## Data Import :

In [2]:
data_path = os.path.join("..", "data/student_enrollment.csv")

In [18]:
merged_data_path = os.path.join("..", "data/merged_data.csv")

In [19]:
df = pd.read_csv(merged_data_path, encoding="latin1")

In [5]:
df.head()

,College_id,College_name,survey_year,faculty_name,department_name,levell,programme_id,programme,discipline_group_id,discipline_group,...,other_minority_general_females,other_minority_sc_total,other_minority_sc_females,other_minority_st_total,other_minority_st_females,other_minority_obc_total,other_minority_obc_females,other_minority_total_persons,other_minority_total_females,other_minority_remarks_id
0,15134,"SMT. BHUDEVI MAHAVIDYALAYA SHASTRI PURAM, AGRA",2015,NaN,NaN,Under Graduate,30,B.Sc.-Bachelor of Science,171,Science,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
1,6133,Techno India 130,2015,NaN,NaN,Under Graduate,36,B.Tech.-Bachelor of Technology,26,Other Engineering & Technology,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,47253,"Shri D N Institute of Computer Applications, A...",2015,NaN,NaN,Under Graduate,46,B.C.A.-Bachelor of Computer Applications,183,Computer Application,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,6332,Techno India 309,2015,NaN,BHM,Under Graduate,54,B.H.M.-Bachelor of Hotel Management,57,Hotel Management,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,6065,Sigma Institute of Physiotherapy,2015,NaN,NaN,Under Graduate,70,B.P.T.-Bachelor of Physiotherapy,164,Physiotherapy,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [8]:
len(df.columns)

64

In [9]:
len(df)

439198

## Data Preprocessing :

### Data cleaning  
     
   The techniques used in data cleaning are:
   * Replacing missing values with 0
   * Converting to same case to prevent duplicates with different case

In [10]:
df.isna().sum()

Unnamed: 0                  0
id                          0
college_name                0
survey_year                 0
faculty_name                0
                           ..
state                       0
city                        0
speciality                  0
girl_exclusive              0
student_hostel_available    0
Length: 64, dtype: int64

In [11]:
df.fillna(0,inplace=True)

In [12]:
df["discipline"] = df["discipline"].str.lower()

In [14]:
df = df[df.total_total_persons != 0]
df = df[df.college_name != 0]
df = df[df.levell != 0]
df = df[df.programme != 0]
df = df[df.discipline != 0]
df = df[df.discipline_group != 0]

In [15]:
len(df)

375197

### Data Reduction

Data reduction is brought about by using attribute selection.  
The unecessary columns are removed from the full set of attributes

df.columns

In [23]:
redundant_cols = ["College_id", "survey_year", "faculty_name", "department_name"]

In [24]:
for col in df.columns:
    split_col = col.split("_")
    if "remarks" in split_col or "id" in split_col:
        print(col)
        redundant_cols.append(col)

id
programme_id
discipline_group_id
final_id
total_remarks_id
pwd_remarks_id
muslim_minority_remarks_id
other_minority_remarks_id

In [25]:
df.drop(columns=redundant_cols, axis=1, inplace=True)

### Data transformation :

The data transformation techniques used are:
* Discretization
* Normalization

### Normalization :

In [37]:
all_cols = df.columns.tolist()

In [41]:
cols_to_remove = ["college_name", "levell", "programme", "discipline", "discipline_group",
                  "type", "year", "total_total_persons", "state", "city", "speciality", "student_hostel_available",
                  "girl_exclusive"
             ]

In [42]:
cols_to_normalize = [col for col in all_cols if col not in cols_to_remove]

In [43]:
cols_to_normalize

['Unnamed: 0',
 'total_general_total',
 'total_general_females',
 'total_sc_total',
 'total_sc_females',
 'total_st_total',
 'total_st_females',
 'total_obc_total',
 'total_obc_females',
 'total_total_females',
 'pwd_general_total',
 'pwd_general_females',
 'pwd_sc_total',
 'pwd_sc_females',
 'pwd_st_total',
 'pwd_st_females',
 'pwd_obc_total',
 'pwd_obc_females',
 'pwd_total_persons',
 'pwd_total_females',
 'muslim_minority_general_total',
 'muslim_minority_general_females',
 'muslim_minority_sc_total',
 'muslim_minority_sc_females',
 'muslim_minority_st_total',
 'muslim_minority_st_females',
 'muslim_minority_obc_total',
 'muslim_minority_obc_females',
 'muslim_minority_total_persons',
 'muslim_minority_total_females',
 'other_minority_general_total',
 'other_minority_general_females',
 'other_minority_sc_total',
 'other_minority_sc_females',
 'other_minority_st_total',
 'other_minority_st_females',
 'other_minority_obc_total',
 'other_minority_obc_females',
 'other_minority_total_persons',
 'other_minority_total_females']

In [44]:
count = 0
id_list = []
for idx, i in enumerate(df["total_total_persons"]):
    if i == 0:
        count += 1
        id_list.append(idx)
print(count)

0

In [45]:
id_list

[]

In [46]:
totals = df["total_total_persons"]
for col in cols_to_normalize:
    df[col] = df[col].divide(totals, axis="index")

In [47]:
df["discipline_group"].unique()

array(['Science', 'Other Engineering & Technology',
       'Computer Application', 'Hotel Management', 'Physiotherapy',
       'Information Technology', 'Electrical Engineering',
       'Public Health', 'Anesthesiology', 'Mechanical Engineering',
       'Cultural Studies', 'Arts', 'Commerce', 'Homeopathy', 'Pharmacy',
       'Hindi', 'Geography', 'History', 'Nursing', 'Architecture',
       'Business Administration', 'Zoology', 'Electronics Engineering',
       'Law', 'Other Science', 'Computer Engineering', 'Economics',
       'Area Studies', 'Physical Education', 'Sanskrit', 'Education',
       'English', 'Oriental Learning', 'Agriculture Engineering',
       'Political Science', 'Chemistry', 'Business Management',
       'Bio-Technology', 'Visual Arts', 'Other Indian Languages',
       'Chemical Engineering', 'Computer Science', 'Civil Engineering',
       'Dentistry', 'Medical Science', 'Bengali', 'Fashion Technology',
       'Women Studies', 'Botany', 'Philosophy', 'Physics', 'Odiya',
       'Public Administration', 'General Medicine', 'Gynaecology',
       'Home Science', 'Other Social Science', 'Environmental Science',
       'Library & Information Science', 'Veterinary & Animal Sciences',
       'Horticulture', 'Mathematics', 'Agriculture', 'Social Work',
       'Statistics', 'Other Medical Science', 'Pediatrics', 'Forestry',
       'Microbiology', 'Sociology', 'Fine Arts', 'Bio-Chemistry',
       'Metallurgical Engineering', 'Mining Engineering',
       'Journalism & Mass Communication', 'Electronics',
       'Religious Studies', 'Geology', 'Life Science', 'Orthopaedics',
       'Psychology', 'Music', 'Performing Arts', 'Ayurveda', 'Tamil',
       'Yoga', 'Nuclear Medicine', 'Anthropology', 'Radiology',
       'Dermatology', 'Other Management', 'Food Technology',
       'Radiothrapy', 'Urdu', 'Kannada', 'ENT', 'Linguistics',
       'Psychiatry', 'Punjabi', 'Christian Studies', 'Bio-Science',
       'Ophthalmology', 'Other Foreign Languages', 'Physiology',
       'Haematology', 'Pathology', 'Design', 'Aeronautical Engineering',
       'General Surgery', 'Archaeology', 'Hospital Administration',
       'Marine Engineering', 'Disability Studies', 'Defence Studies',
       'Unani', 'Interior Design', 'Tourism Management', 'Telugu',
       'Event Management', 'Urology', 'Occupational Therapy',
       'Human Rights', 'Foreign Trade', 'Cardiology', 'Fisheries Science',
       'Sericulture', 'Nephrology', 'Human Resource Management',
       'Genetics', 'Animation', 'Medical Management',
       'Marine Science / Oceanography', 'Nutrition',
       'Financial Management', 'Lab Medicine', 'Geo-Physics', 'Jyotisha',
       'French', 'Graphics', 'Anatomy', 'Malayalam',
       'International Business', 'Oncology', 'Indian Medicine',
       'Neurology', 'Dairy Technology', 'Gastroenterology',
       'Forensic Medicine/ Toxicology', 'Constitutional Law',
       'Marketing Management', 'Multi Media', 'Islamic Studies',
       'Endocrinology', 'Civil Law', 'Business Studies',
       'Agri-Business Management', 'Planning', 'Gandhian Studies',
       'Social Science', 'Veda', 'Technology', 'Hepatology',
       'Criminology & Forensic Science', 'German',
       'Transportation Planning', 'Buddhist Studies', 'Dairy Science',
       'Plastic Surgery', 'Medical Physics', 'Cyber Crime', 'Spanish',
       'International Law', 'Theology', 'Bio-Statistics', 'Bio-Physics',
       'Jainism'], dtype=object)

### Aggregation :

In [48]:
df.columns

Index(['Unnamed: 0', 'college_name', 'levell', 'programme', 'discipline_group',
       'discipline', 'type', 'year', 'total_general_total',
       'total_general_females', 'total_sc_total', 'total_sc_females',
       'total_st_total', 'total_st_females', 'total_obc_total',
       'total_obc_females', 'total_total_persons', 'total_total_females',
       'pwd_general_total', 'pwd_general_females', 'pwd_sc_total',
       'pwd_sc_females', 'pwd_st_total', 'pwd_st_females', 'pwd_obc_total',
       'pwd_obc_females', 'pwd_total_persons', 'pwd_total_females',
       'muslim_minority_general_total', 'muslim_minority_general_females',
       'muslim_minority_sc_total', 'muslim_minority_sc_females',
       'muslim_minority_st_total', 'muslim_minority_st_females',
       'muslim_minority_obc_total', 'muslim_minority_obc_females',
       'muslim_minority_total_persons', 'muslim_minority_total_females',
       'other_minority_general_total', 'other_minority_general_females',
       'other_minority_sc_total', 'other_minority_sc_females',
       'other_minority_st_total', 'other_minority_st_females',
       'other_minority_obc_total', 'other_minority_obc_females',
       'other_minority_total_persons', 'other_minority_total_females', 'state',
       'city', 'speciality', 'girl_exclusive', 'student_hostel_available'],
      dtype='object')

#### grouping SC, ST and OBC into one feature :

In [49]:
agg = []
for col in df.columns:
    split_col = col.split("_")
    if "sc" in split_col:
        l = [col]
        for st_col in df.columns:
            if st_col.split("_")[0] == split_col[0] and st_col.split("_")[::-1][0] == split_col[::-1][0]:
                if "st" in st_col.split("_") or "obc" in st_col.split("_"):
                    l.append(st_col)
        agg.append(l)

In [50]:
agg

[['total_sc_total', 'total_st_total', 'total_obc_total'],
 ['total_sc_females', 'total_st_females', 'total_obc_females'],
 ['pwd_sc_total', 'pwd_st_total', 'pwd_obc_total'],
 ['pwd_sc_females', 'pwd_st_females', 'pwd_obc_females'],
 ['muslim_minority_sc_total',
  'muslim_minority_st_total',
  'muslim_minority_obc_total'],
 ['muslim_minority_sc_females',
  'muslim_minority_st_females',
  'muslim_minority_obc_females'],
 ['other_minority_sc_total',
  'other_minority_st_total',
  'other_minority_obc_total'],
 ['other_minority_sc_females',
  'other_minority_st_females',
  'other_minority_obc_females']]

In [51]:
for triple in agg:
    df[triple[0]] = df[triple[0]] + df[triple[1]] + df[triple[2]]
    df.drop(triple[1], axis=1, inplace=True)
    df.drop(triple[2], axis=1, inplace=True)

#### Renaming the columns from 'sc' to 'backward_castes' :

In [52]:
cols = df.columns.tolist()
for idx, col in enumerate(cols):
    if "sc" in col.split("_"):
        cols[idx] = col.replace("_sc_", "_backward_castes_")

df.columns = cols

In [55]:
df.columns

Index(['college_name', 'levell', 'programme', 'discipline_group', 'discipline',
       'type', 'year', 'total_general_total', 'total_general_females',
       'total_backward_castes_total', 'total_backward_castes_females',
       'total_total_persons', 'total_total_females', 'pwd_general_total',
       'pwd_general_females', 'pwd_backward_castes_total',
       'pwd_backward_castes_females', 'pwd_total_persons', 'pwd_total_females',
       'muslim_minority_general_total', 'muslim_minority_general_females',
       'muslim_minority_backward_castes_total',
       'muslim_minority_backward_castes_females',
       'muslim_minority_total_persons', 'muslim_minority_total_females',
       'other_minority_general_total', 'other_minority_general_females',
       'other_minority_backward_castes_total',
       'other_minority_backward_castes_females',
       'other_minority_total_persons', 'other_minority_total_females', 'state',
       'city', 'speciality', 'girl_exclusive', 'student_hostel_available'],
      dtype='object')

### Discretization :

In [ ]:
def one_hot_enc(column_name, df):
    d = pd.get_dummies(df[column_name])
    df = pd.concat([d, df], axis=1)
    df.drop(column_name, axis=1, inplace=True)
    return df

In [ ]:
df = one_hot_enc("levell", df)

### Saving the preprocessed data :

In [54]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [56]:
save_path = os.path.join("../data/merged_preprocessed.csv")
df.to_csv(save_path, index=False)

## Random exploration

In [20]:
df.columns

Index(['Unnamed: 0', 'id', 'college_name', 'survey_year', 'faculty_name',
       'department_name', 'levell', 'programme_id', 'programme',
       'discipline_group_id', 'discipline_group', 'discipline', 'type', 'year',
       'final_id', 'total_general_total', 'total_general_females',
       'total_sc_total', 'total_sc_females', 'total_st_total',
       'total_st_females', 'total_obc_total', 'total_obc_females',
       'total_total_persons', 'total_total_females', 'total_remarks_id',
       'pwd_general_total', 'pwd_general_females', 'pwd_sc_total',
       'pwd_sc_females', 'pwd_st_total', 'pwd_st_females', 'pwd_obc_total',
       'pwd_obc_females', 'pwd_total_persons', 'pwd_total_females',
       'pwd_remarks_id', 'muslim_minority_general_total',
       'muslim_minority_general_females', 'muslim_minority_sc_total',
       'muslim_minority_sc_females', 'muslim_minority_st_total',
       'muslim_minority_st_females', 'muslim_minority_obc_total',
       'muslim_minority_obc_females', 'muslim_minority_total_persons',
       'muslim_minority_total_females', 'muslim_minority_remarks_id',
       'other_minority_general_total', 'other_minority_general_females',
       'other_minority_sc_total', 'other_minority_sc_females',
       'other_minority_st_total', 'other_minority_st_females',
       'other_minority_obc_total', 'other_minority_obc_females',
       'other_minority_total_persons', 'other_minority_total_females',
       'other_minority_remarks_id', 'state', 'city', 'speciality',
       'girl_exclusive', 'student_hostel_available'],
      dtype='object')

In [9]:
df["College_name"].nunique(), df["programme"].nunique()

(35029, 178)

In [21]:
df["speciality"].unique()

array(['0', 'Engineering & Technology', 'Computer Application',
       'Physiotherapy', 'Technical', 'Medical-Allopathy',
       'Medical-Dental', 'Medical-Homeopathy', 'Pharmacy', 'Arts',
       'Nursing', 'Architecture', 'Commerce', 'Management', 'Others',
       'Science', 'Law', 'Agriculture', 'Education/Teacher Education',
       'Sanskrit', 'Medical', 'Hotel & Tourism Management',
       'Oriental Learning', 'Veterinary', 'Medical-Others',
       'Medical-Ayurveda', 'Fine Arts', 'Para Medical',
       'Journalism & Mass Communication',
       'Sports/Yoga/Physical Education', 'Fisheries'], dtype=object)