## Standard imports :

In [1]:
import pandas as pd
import numpy as np
import os

## Data Import :

In [2]:
data_path = os.path.join("..", "data/student_enrollment.csv")

In [3]:
df = pd.read_csv(data_path, encoding="latin1")

In [4]:
df.head()

,College_id,College_name,survey_year,faculty_name,department_name,levell,programme_id,programme,discipline_group_id,discipline_group,...,other_minority_general_females,other_minority_sc_total,other_minority_sc_females,other_minority_st_total,other_minority_st_females,other_minority_obc_total,other_minority_obc_females,other_minority_total_persons,other_minority_total_females,other_minority_remarks_id
0,15134,"SMT. BHUDEVI MAHAVIDYALAYA SHASTRI PURAM, AGRA",2015,NaN,NaN,Under Graduate,30,B.Sc.-Bachelor of Science,171,Science,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
1,6133,Techno India 130,2015,NaN,NaN,Under Graduate,36,B.Tech.-Bachelor of Technology,26,Other Engineering & Technology,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,47253,"Shri D N Institute of Computer Applications, A...",2015,NaN,NaN,Under Graduate,46,B.C.A.-Bachelor of Computer Applications,183,Computer Application,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,6332,Techno India 309,2015,NaN,BHM,Under Graduate,54,B.H.M.-Bachelor of Hotel Management,57,Hotel Management,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,6065,Sigma Institute of Physiotherapy,2015,NaN,NaN,Under Graduate,70,B.P.T.-Bachelor of Physiotherapy,164,Physiotherapy,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
len(df.columns)

58

In [33]:
len(df)

375105

## Data Preprocessing :

### Data cleaning  
     
   The techniques used in data cleaning are:
   * Replacing missing values with 0
   * Converting to same case to prevent duplicates with different case

In [24]:
df.isna().sum()

College_name                       0
levell                             0
programme                          0
discipline_group                   0
discipline                         0
type                               0
year                               0
total_general_total                0
total_general_females              0
total_sc_total                     0
total_sc_females                   0
total_st_total                     0
total_st_females                   0
total_obc_total                    0
total_obc_females                  0
total_total_persons                0
total_total_females                0
pwd_general_total                  0
pwd_general_females                0
pwd_sc_total                       0
pwd_sc_females                     0
pwd_st_total                       0
pwd_st_females                     0
pwd_obc_total                      0
pwd_obc_females                    0
pwd_total_persons                  0
pwd_total_females                  0
muslim_minority_general_total      0
muslim_minority_general_females    0
muslim_minority_sc_total           0
muslim_minority_sc_females         0
muslim_minority_st_total           0
muslim_minority_st_females         0
muslim_minority_obc_total          0
muslim_minority_obc_females        0
muslim_minority_total_persons      0
muslim_minority_total_females      0
other_minority_general_total       0
other_minority_general_females     0
other_minority_sc_total            0
other_minority_sc_females          0
other_minority_st_total            0
other_minority_st_females          0
other_minority_obc_total           0
other_minority_obc_females         0
other_minority_total_persons       0
other_minority_total_females       0
dtype: int64

In [23]:
df.fillna(0,inplace=True)

In [9]:
df["discipline"] = df["discipline"].str.lower()

In [32]:
df = df[df.total_total_persons != 0]
df = df[df.College_name != 0]
df = df[df.levell != 0]
df = df[df.programme != 0]
df = df[df.discipline != 0]
df = df[df.discipline_group != 0]

### Data Reduction

Data reduction is brought about by using attribute selection.  
The unecessary columns are removed from the full set of attributes

In [10]:
df.columns

Index(['College_id', 'College_name', 'survey_year', 'faculty_name',
       'department_name', 'levell', 'programme_id', 'programme',
       'discipline_group_id', 'discipline_group', 'discipline', 'type', 'year',
       'id', 'total_general_total', 'total_general_females', 'total_sc_total',
       'total_sc_females', 'total_st_total', 'total_st_females',
       'total_obc_total', 'total_obc_females', 'total_total_persons',
       'total_total_females', 'total_remarks_id', 'pwd_general_total',
       'pwd_general_females', 'pwd_sc_total', 'pwd_sc_females', 'pwd_st_total',
       'pwd_st_females', 'pwd_obc_total', 'pwd_obc_females',
       'pwd_total_persons', 'pwd_total_females', 'pwd_remarks_id',
       'muslim_minority_general_total', 'muslim_minority_general_females',
       'muslim_minority_sc_total', 'muslim_minority_sc_females',
       'muslim_minority_st_total', 'muslim_minority_st_females',
       'muslim_minority_obc_total', 'muslim_minority_obc_females',
       'muslim_minority_total_persons', 'muslim_minority_total_females',
       'muslim_minority_remarks_id', 'other_minority_general_total',
       'other_minority_general_females', 'other_minority_sc_total',
       'other_minority_sc_females', 'other_minority_st_total',
       'other_minority_st_females', 'other_minority_obc_total',
       'other_minority_obc_females', 'other_minority_total_persons',
       'other_minority_total_females', 'other_minority_remarks_id'],
      dtype='object')

In [11]:
redundant_cols = ["College_id", "survey_year", "faculty_name", "department_name"]

In [12]:
for col in df.columns:
    split_col = col.split("_")
    if "remarks" in split_col or "id" in split_col:
        print(col)
        redundant_cols.append(col)

College_id
programme_id
discipline_group_id
id
total_remarks_id
pwd_remarks_id
muslim_minority_remarks_id
other_minority_remarks_id

In [13]:
df.drop(columns=redundant_cols, axis=1, inplace=True)

### Data transformation :

The data transformation techniques used are:
* Discretization
* Normalization

### Normalization :

In [14]:
all_cols = df.columns.tolist()

In [15]:
cols_to_remove = ["College_name", "levell", "programme", "discipline", "discipline_group",
                  "type", "year", "total_total_persons"
             ]

In [16]:
cols_to_normalize = [col for col in all_cols if col not in cols_to_remove]

In [17]:
cols_to_normalize

['total_general_total',
 'total_general_females',
 'total_sc_total',
 'total_sc_females',
 'total_st_total',
 'total_st_females',
 'total_obc_total',
 'total_obc_females',
 'total_total_females',
 'pwd_general_total',
 'pwd_general_females',
 'pwd_sc_total',
 'pwd_sc_females',
 'pwd_st_total',
 'pwd_st_females',
 'pwd_obc_total',
 'pwd_obc_females',
 'pwd_total_persons',
 'pwd_total_females',
 'muslim_minority_general_total',
 'muslim_minority_general_females',
 'muslim_minority_sc_total',
 'muslim_minority_sc_females',
 'muslim_minority_st_total',
 'muslim_minority_st_females',
 'muslim_minority_obc_total',
 'muslim_minority_obc_females',
 'muslim_minority_total_persons',
 'muslim_minority_total_females',
 'other_minority_general_total',
 'other_minority_general_females',
 'other_minority_sc_total',
 'other_minority_sc_females',
 'other_minority_st_total',
 'other_minority_st_females',
 'other_minority_obc_total',
 'other_minority_obc_females',
 'other_minority_total_persons',
 'other_minority_total_females']

In [20]:
count = 0
id_list = []
for idx, i in enumerate(df["total_total_persons"]):
    if i == 0:
        count += 1
        id_list.append(idx)
print(count)

64001

In [21]:
id_list

[6,
 13,
 20,
 21,
 24,
 38,
 40,
 42,
 60,
 74,
 78,
 79,
 88,
 91,
 97,
 98,
 112,
 114,
 123,
 151,
 155,
 158,
 161,
 165,
 173,
 176,
 182,
 185,
 189,
 200,
 205,
 213,
 217,
 226,
 227,
 232,
 273,
 278,
 285,
 293,
 294,
 295,
 300,
 304,
 306,
 310,
 313,
 318,
 322,
 337,
 342,
 343,
 345,
 360,
 362,
 376,
 384,
 387,
 392,
 397,
 423,
 428,
 435,
 446,
 451,
 453,
 462,
 464,
 486,
 487,
 491,
 496,
 500,
 502,
 508,
 520,
 531,
 544,
 550,
 559,
 573,
 598,
 609,
 637,
 660,
 678,
 684,
 695,
 699,
 700,
 709,
 721,
 740,
 745,
 747,
 752,
 768,
 775,
 785,
 790,
 806,
 814,
 816,
 818,
 832,
 833,
 836,
 847,
 853,
 868,
 871,
 872,
 873,
 878,
 884,
 895,
 904,
 914,
 915,
 927,
 934,
 939,
 946,
 950,
 956,
 969,
 970,
 987,
 992,
 1011,
 1014,
 1015,
 1017,
 1028,
 1030,
 1036,
 1046,
 1057,
 1076,
 1079,
 1090,
 1097,
 1105,
 1109,
 1117,
 1118,
 1130,
 1134,
 1158,
 1161,
 1167,
 1184,
 1201,
 1205,
 1223,
 1236,
 1245,
 1248,
 1261,
 1262,
 1263,
 1264,
 1271,
 1274,
 1297,
 1301,
 1309,
 1315,
 1325,
 1336,
 1339,
 1342,
 1347,
 1356,
 1358,
 1362,
 1394,
 1398,
 1412,
 1419,
 1422,
 1424,
 1439,
 1445,
 1446,
 1458,
 1488,
 1492,
 1498,
 1509,
 1512,
 1522,
 1533,
 1547,
 1555,
 1575,
 1588,
 1601,
 1603,
 1608,
 1615,
 1619,
 1627,
 1631,
 1636,
 1641,
 1647,
 1648,
 1650,
 1651,
 1652,
 1653,
 1654,
 1658,
 1661,
 1686,
 1699,
 1702,
 1709,
 1718,
 1726,
 1727,
 1728,
 1745,
 1750,
 1765,
 1770,
 1771,
 1785,
 1786,
 1790,
 1791,
 1806,
 1807,
 1810,
 1814,
 1817,
 1819,
 1821,
 1834,
 1837,
 1839,
 1841,
 1843,
 1848,
 1855,
 1856,
 1858,
 1864,
 1865,
 1867,
 1868,
 1873,
 1879,
 1886,
 1889,
 1891,
 1904,
 1905,
 1908,
 1909,
 1910,
 1911,
 1912,
 1933,
 1939,
 1941,
 1948,
 1949,
 1954,
 1958,
 1962,
 1963,
 1977,
 1983,
 1989,
 1990,
 2000,
 2007,
 2009,
 2012,
 2018,
 2034,
 2045,
 2046,
 2049,
 2050,
 2062,
 2070,
 2081,
 2082,
 2092,
 2093,
 2096,
 2106,
 2107,
 2108,
 2110,
 2111,
 2115,
 2121,
 2124,
 2132,
 2135,
 2141,
 2142,
 2149,
 2153,
 2163,
 2172,
 2174,
 2175,
 2182,
 2195,
 2205,
 2206,
 2218,
 2220,
 2231,
 2239,
 2249,
 2250,
 2268,
 2271,
 2274,
 2284,
 2290,
 2294,
 2311,
 2322,
 2324,
 2328,
 2329,
 2333,
 2340,
 2344,
 2347,
 2364,
 2368,
 2375,
 2380,
 2387,
 2398,
 2407,
 2419,
 2421,
 2436,
 2440,
 2450,
 2457,
 2461,
 2463,
 2467,
 2485,
 2498,
 2499,
 2501,
 2510,
 2522,
 2524,
 2535,
 2539,
 2540,
 2541,
 2545,
 2549,
 2561,
 2574,
 2575,
 2586,
 2596,
 2599,
 2603,
 2605,
 2610,
 2617,
 2627,
 2645,
 2661,
 2665,
 2666,
 2669,
 2673,
 2678,
 2680,
 2681,
 2683,
 2686,
 2694,
 2697,
 2706,
 2708,
 2709,
 2718,
 2732,
 2736,
 2737,
 2745,
 2752,
 2759,
 2764,
 2766,
 2773,
 2777,
 2778,
 2784,
 2795,
 2801,
 2803,
 2806,
 2810,
 2815,
 2816,
 2817,
 2842,
 2850,
 2851,
 2859,
 2865,
 2870,
 2873,
 2874,
 2877,
 2894,
 2906,
 2916,
 2919,
 2921,
 2925,
 2927,
 2929,
 2943,
 2945,
 2947,
 2954,
 2959,
 2960,
 2961,
 2963,
 2984,
 3002,
 3009,
 3024,
 3027,
 3028,
 3032,
 3035,
 3046,
 3060,
 3062,
 3063,
 3071,
 3075,
 3080,
 3081,
 3087,
 3092,
 3095,
 3097,
 3107,
 3110,
 3112,
 3121,
 3132,
 3135,
 3138,
 3155,
 3162,
 3167,
 3168,
 3175,
 3180,
 3181,
 3182,
 3187,
 3192,
 3205,
 3214,
 3215,
 3220,
 3221,
 3223,
 3224,
 3227,
 3230,
 3231,
 3235,
 3236,
 3238,
 3241,
 3243,
 3248,
 3250,
 3255,
 3275,
 3279,
 3281,
 3282,
 3287,
 3289,
 3290,
 3291,
 3301,
 3307,
 3315,
 3316,
 3322,
 3324,
 3333,
 3335,
 3337,
 3342,
 3346,
 3350,
 3358,
 3359,
 3362,
 3364,
 3365,
 3369,
 3372,
 3383,
 3388,
 3389,
 3424,
 3433,
 3434,
 3447,
 3466,
 3469,
 3476,
 3483,
 3495,
 3496,
 3498,
 3501,
 3511,
 3531,
 3536,
 3537,
 3542,
 3553,
 3555,
 3589,
 3591,
 3592,
 3609,
 3612,
 3613,
 3618,
 3621,
 3629,
 3630,
 3639,
 3642,
 3665,
 3671,
 3677,
 3679,
 3681,
 3684,
 3694,
 3696,
 3700,
 3703,
 3706,
 3716,
 3718,
 3719,
 3726,
 3728,
 3738,
 3739,
 3749,
 3752,
 3761,
 3769,
 3782,
 3784,
 3787,
 3794,
 3801,
 3813,
 3827,
 3831,
 3842,
 3853,
 3859,
 3862,
 3866,
 3869,
 3871,
 3873,
 3885,
 3886,
 3887,
 3895,
 3917,
 3927,
 3930,
 3947,
 3959,
 3963,
 3980,
 4012,
 4022,
 4035,
 4040,
 4047,
 4048,
 4070,
 4078,
 4084,
 4085,
 4086,
 4101,
 4105,
 4119,
 4120,
 4122,
 4134,
 4139,
 4152,
 4153,
 4156,
 4168,
 4172,
 4181,
 4193,
 4209,
 4218,
 4220,
 4229,
 4244,
 4249,
 4253,
 4269,
 4280,
 4281,
 4287,
 4291,
 4304,
 4309,
 4322,
 4331,
 4333,
 4338,
 4340,
 4353,
 4354,
 4369,
 4375,
 4399,
 4416,
 4418,
 4438,
 4446,
 4449,
 4462,
 4468,
 4471,
 4478,
 4484,
 4485,
 4489,
 4497,
 4503,
 4504,
 4512,
 4532,
 4539,
 4553,
 4561,
 4568,
 4582,
 4592,
 4597,
 4599,
 4603,
 4609,
 4610,
 4612,
 4641,
 4644,
 4656,
 4663,
 4664,
 4668,
 4670,
 4671,
 4672,
 4689,
 4690,
 4701,
 4702,
 4709,
 4710,
 4715,
 4718,
 4726,
 4732,
 4736,
 4740,
 4745,
 4748,
 4751,
 4762,
 4773,
 4781,
 4784,
 4785,
 4787,
 4805,
 4809,
 4814,
 4826,
 4828,
 4833,
 4846,
 4859,
 4863,
 4872,
 4880,
 4892,
 4900,
 4903,
 4907,
 4910,
 4914,
 4915,
 4916,
 4931,
 4939,
 4949,
 4952,
 4958,
 4960,
 4977,
 4980,
 4982,
 4988,
 4990,
 4994,
 4999,
 5000,
 5002,
 5006,
 5009,
 5015,
 5017,
 5018,
 5042,
 5048,
 5049,
 5057,
 5062,
 5063,
 5067,
 5071,
 5089,
 5090,
 5104,
 5112,
 5114,
 5129,
 5131,
 5138,
 5140,
 5144,
 5149,
 5156,
 5158,
 5167,
 5171,
 5186,
 5193,
 5195,
 5197,
 5198,
 5199,
 5202,
 5217,
 5219,
 5222,
 5223,
 5224,
 5225,
 5226,
 5233,
 5237,
 5245,
 5249,
 5250,
 5253,
 5267,
 5269,
 5271,
 5278,
 5300,
 5301,
 5303,
 5304,
 5308,
 5326,
 5330,
 5340,
 5342,
 5362,
 5380,
 5385,
 5389,
 5397,
 5402,
 5403,
 5404,
 5405,
 5446,
 5448,
 5458,
 5467,
 5470,
 5474,
 5476,
 5487,
 5496,
 5498,
 5511,
 5512,
 5513,
 5514,
 5522,
 5533,
 5543,
 5562,
 5566,
 5573,
 5582,
 5587,
 5595,
 5601,
 5608,
 5611,
 5613,
 5633,
 5640,
 5643,
 5647,
 5657,
 5671,
 5673,
 5674,
 5683,
 5685,
 5697,
 5698,
 5715,
 5716,
 5719,
 5721,
 5738,
 5739,
 5743,
 5749,
 5758,
 5767,
 5784,
 5800,
 5813,
 5817,
 5818,
 5839,
 5859,
 5860,
 5863,
 5877,
 5884,
 5885,
 5888,
 5912,
 5913,
 5925,
 5938,
 5939,
 5944,
 5948,
 5962,
 5966,
 5971,
 5972,
 5982,
 5988,
 5991,
 6006,
 6008,
 6013,
 6020,
 6022,
 6026,
 6028,
 6033,
 6038,
 6040,
 6041,
 6046,
 6047,
 6051,
 6058,
 6059,
 6065,
 6068,
 6070,
 6073,
 6075,
 6076,
 6101,
 6104,
 6108,
 6117,
 6119,
 6120,
 6129,
 6140,
 6141,
 6150,
 6152,
 6156,
 6160,
 6168,
 6169,
 6178,
 6179,
 6197,
 6209,
 6210,
 6211,
 6213,
 6216,
 6219,
 6245,
 6252,
 6253,
 6255,
 6260,
 6268,
 6269,
 6272,
 6274,
 6288,
 6293,
 6295,
 6296,
 6300,
 6301,
 6306,
 6312,
 6316,
 6317,
 6322,
 6336,
 6338,
 6348,
 6356,
 6358,
 6365,
 6371,
 6373,
 6374,
 6377,
 6388,
 6389,
 6392,
 6403,
 6405,
 6421,
 6423,
 6430,
 6437,
 6439,
 6441,
 6450,
 6458,
 6460,
 6461,
 6473,
 6478,
 6481,
 6484,
 6485,
 6486,
 6490,
 6495,
 6496,
 6503,
 6527,
 6535,
 6538,
 6547,
 6554,
 6559,
 6560,
 ...]

In [16]:
totals = df["total_total_persons"]
for col in cols_to_normalize:
    df[col] = df[col].divide(totals, axis="index")

In [17]:
df["discipline_group"].unique()

array(['Science', 'Other Engineering & Technology',
       'Computer Application', 'Hotel Management', 'Physiotherapy',
       'Civil Engineering', 'Information Technology',
       'Electrical Engineering', 'Public Health', 'Anesthesiology',
       'Mechanical Engineering', 'Physiology', 'Cultural Studies', 'Arts',
       'Commerce', 'Homeopathy', 'Pharmacy', 'Hindi', 'Economics',
       'Geography', 'Other Science', 'History', 'Nursing', 'Architecture',
       'Electronics Engineering', 'Computer Science',
       'Business Administration', 'Zoology', 'Law',
       'Computer Engineering', 'Area Studies', 'Education',
       'Physical Education', 'Sanskrit', 'English', 'Oriental Learning',
       'Agriculture Engineering', 'Sociology', 'Political Science',
       'Chemistry', 'Business Management', 'Bio-Technology',
       'Visual Arts', 'Other Indian Languages', 'Chemical Engineering',
       'Mathematics', 'Dentistry', 'Medical Science', 'Bengali',
       'Fashion Technology', 'Women Studies', 'Botany', 'Philosophy',
       'Physics', 'Odiya', 'Public Administration', 'General Medicine',
       'Gynaecology', 'Other Social Science', 'Mining Engineering',
       'Home Science', 'Environmental Science',
       'Library & Information Science', 'Veterinary & Animal Sciences',
       'Horticulture', 'Marketing Management', 'Agriculture',
       'Social Work', 'Statistics', 'Other Medical Science', 'Pediatrics',
       'Forestry', 'Microbiology', 'Fine Arts', 'Bio-Chemistry',
       'Metallurgical Engineering', 'Journalism & Mass Communication',
       'Ayurveda', 'Electronics', 'Religious Studies', 'Geology',
       'Life Science', 'Orthopaedics', 'Psychology', 'Music',
       'Performing Arts', 'Pathology', 'Tamil', 'Yoga',
       'Nuclear Medicine', 'Anthropology', 'Radiology', 'Dermatology',
       'Other Management', 'Food Technology', 'Radiothrapy',
       'International Business', 'Bio-Science', 'Urdu',
       'Human Resource Management', 'Anatomy', 'Kannada', 'ENT',
       'Linguistics', 'Psychiatry', 'Punjabi', 'Christian Studies',
       'Ophthalmology', 'Veda', 'Other Foreign Languages',
       'General Surgery', 'Haematology', 'Design',
       'Aeronautical Engineering', 'Archaeology',
       'Hospital Administration', 'Planning', 'Marine Engineering',
       'Multi Media', 'Disability Studies', 'Defence Studies', 'Unani',
       'Interior Design', 'Tourism Management', 'Telugu',
       'Event Management', 'Animation', 'Cardiology', 'Urology',
       'Occupational Therapy', 'Human Rights', 'Lab Medicine',
       'Foreign Trade', 'Fisheries Science', 'Sericulture', 'Nephrology',
       'Genetics', 'Medical Management', 'Marine Science / Oceanography',
       'Forensic Medicine/ Toxicology', 'Nutrition',
       'Financial Management', 'French', 'Geo-Physics', 'Jyotisha',
       'Graphics', 'Malayalam', 'Medical Physics', 'Oncology',
       'Gastroenterology', 'Indian Medicine', 'Neurology',
       'Dairy Technology', 'Constitutional Law', 'Islamic Studies',
       'Endocrinology', 'Civil Law', 'Business Studies',
       'Agri-Business Management', 'Buddhist Studies',
       'Criminology & Forensic Science', 'German', 'Gandhian Studies',
       'Social Science', 'Technology', 'Hepatology',
       'Transportation Planning', 'Dairy Science', 'Plastic Surgery',
       'Cyber Crime', 'Spanish', 'Bio-Physics', 'International Law',
       'Theology', 'Bio-Statistics', 'Population Studies', 'Jainism'],
      dtype=object)

### Aggregation :

In [18]:
df.columns

Index(['College_name', 'levell', 'programme', 'discipline_group', 'discipline',
       'type', 'year', 'total_general_total', 'total_general_females',
       'total_sc_total', 'total_sc_females', 'total_st_total',
       'total_st_females', 'total_obc_total', 'total_obc_females',
       'total_total_persons', 'total_total_females', 'pwd_general_total',
       'pwd_general_females', 'pwd_sc_total', 'pwd_sc_females', 'pwd_st_total',
       'pwd_st_females', 'pwd_obc_total', 'pwd_obc_females',
       'pwd_total_persons', 'pwd_total_females',
       'muslim_minority_general_total', 'muslim_minority_general_females',
       'muslim_minority_sc_total', 'muslim_minority_sc_females',
       'muslim_minority_st_total', 'muslim_minority_st_females',
       'muslim_minority_obc_total', 'muslim_minority_obc_females',
       'muslim_minority_total_persons', 'muslim_minority_total_females',
       'other_minority_general_total', 'other_minority_general_females',
       'other_minority_sc_total', 'other_minority_sc_females',
       'other_minority_st_total', 'other_minority_st_females',
       'other_minority_obc_total', 'other_minority_obc_females',
       'other_minority_total_persons', 'other_minority_total_females'],
      dtype='object')

#### grouping SC, ST and OBC into one feature :

In [19]:
agg = []
for col in df.columns:
    split_col = col.split("_")
    if "sc" in split_col:
        l = [col]
        for st_col in df.columns:
            if st_col.split("_")[0] == split_col[0] and st_col.split("_")[::-1][0] == split_col[::-1][0]:
                if "st" in st_col.split("_") or "obc" in st_col.split("_"):
                    l.append(st_col)
        agg.append(l)

In [20]:
agg

[['total_sc_total', 'total_st_total', 'total_obc_total'],
 ['total_sc_females', 'total_st_females', 'total_obc_females'],
 ['pwd_sc_total', 'pwd_st_total', 'pwd_obc_total'],
 ['pwd_sc_females', 'pwd_st_females', 'pwd_obc_females'],
 ['muslim_minority_sc_total',
  'muslim_minority_st_total',
  'muslim_minority_obc_total'],
 ['muslim_minority_sc_females',
  'muslim_minority_st_females',
  'muslim_minority_obc_females'],
 ['other_minority_sc_total',
  'other_minority_st_total',
  'other_minority_obc_total'],
 ['other_minority_sc_females',
  'other_minority_st_females',
  'other_minority_obc_females']]

In [21]:
for triple in agg:
    df[triple[0]] = df[triple[0]] + df[triple[1]] + df[triple[2]]
    df.drop(triple[1], axis=1, inplace=True)
    df.drop(triple[2], axis=1, inplace=True)

#### Renaming the columns from 'sc' to 'backward_castes' :

In [22]:
cols = df.columns.tolist()
for idx, col in enumerate(cols):
    if "sc" in col.split("_"):
        cols[idx] = col.replace("_sc_", "_backward_castes_")

df.columns = cols

In [23]:
df.columns

Index(['College_name', 'levell', 'programme', 'discipline_group', 'discipline',
       'type', 'year', 'total_general_total', 'total_general_females',
       'total_backward_castes_total', 'total_backward_castes_females',
       'total_total_persons', 'total_total_females', 'pwd_general_total',
       'pwd_general_females', 'pwd_backward_castes_total',
       'pwd_backward_castes_females', 'pwd_total_persons', 'pwd_total_females',
       'muslim_minority_general_total', 'muslim_minority_general_females',
       'muslim_minority_backward_castes_total',
       'muslim_minority_backward_castes_females',
       'muslim_minority_total_persons', 'muslim_minority_total_females',
       'other_minority_general_total', 'other_minority_general_females',
       'other_minority_backward_castes_total',
       'other_minority_backward_castes_females',
       'other_minority_total_persons', 'other_minority_total_females'],
      dtype='object')

### Discretization :

In [34]:
def one_hot_enc(column_name, df):
    d = pd.get_dummies(df[column_name])
    df = pd.concat([d, df], axis=1)
    df.drop(column_name, axis=1, inplace=True)
    return df

In [35]:
df = one_hot_enc("levell", df)

### Saving the preprocessed data :

In [24]:
save_path = os.path.join("../data/preprocessed.csv")
df.to_csv(save_path, index=False)